html { 
    background: url(../images/HP-2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body, .card {
    background: transparent;
    font-family: 'Ubuntu Mono', monospace;
    color: #ffffff;
}

.card-title {
    font-size: 1.5rem;
}

wrapper {
    display: flex;
    flex-direction: column;
}

#main {
    background: rgb(143,149,154);
    background: rgb(143,149,154,0.7);
}

#logo {
    width: 5rem;
    height: auto;
}
